<!-- Bootstrap NavBar -->
<nav class="topnav navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="menu-collapsed">antrab Prueba</span>
    </a>


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <!-- Smaller devices menu END -->
        </ul>
    </div>

</nav>
<!-- NavBar END -->


<!-- Bootstrap row -->


<div class="row" id="body-row">
    <!-- Sidebar -->
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block col-2">
        <app-menu></app-menu>

    </div>
    <!-- sidebar-container END -->

    <!-- MAIN -->
    <div class="col py-3">

        
        <br><br><br>
        <h1>App Component</h1>

   


        
        <router-outlet></router-outlet>


        
    </div>
    <!-- Main Col END -->

</div>
<!-- body-row END -->